@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

html,
body {
	background: linear-gradient(0deg, rgba(43, 43, 43, 0.034) 0%, rgba(255, 255, 255, 0.9458158263305322) 100%);
	font-family: 'Quicksand', sans-serif;
	height: 100vh;
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	padding: 0px;
	margin: 0;
}

.banner-sec {
	background: url('../images/login.jpg') no-repeat;
	background-size: cover;
	padding: 0;
}
.container {
	background: rgba(255, 255, 255, 0.37);
	box-shadow: 0 5px 8px 5px #191a1931;
	padding: 0;
	margin: 0;
}

.login-sec {
	padding: 50px 30px;
	position: relative;
}
.login-sec .copy-text {
	position: absolute;
	width: 80%;
	bottom: 20px;
	font-size: 23px;
	text-align: center;
}
.login-sec .copy-text i {
	color: #2cff07;
}
.login-sec .copy-text a {
	color: #ff0101;
}
.login-sec h2 {
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 30px;
	color: #2f2b33;
}
.login-sec h2:after {
	content: ' ';
	width: 200px;
	height: 2px;
	background: #06f887;
	display: block;
	margin-top: 20px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
}
.btn-login {
	background: #0ec770;
	color: #fff;
	font-weight: 900;
}

.btn-icon i {
	vertical-align: middle;
}
table th,
table td {
	text-align: center;
}
.row {
	margin-bottom: 50px;
}
a:hover {
	text-decoration: none;
}
.form-check-label {
	margin: inherit;
}
.card-header {
	background-color: rgba(0, 0, 0, 0.1);
}
