<link rel="stylesheet" href="/assets/css/rtl.css" />
	<body>
		<div id="wrapper" class="rtl">
			<div id="container">
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-header">
								مدیریت وظایف
							</div>
							<div class="card-body">
								<div class="actions">
									<a href="/tasks/add" class="btn btn-outline-success btn-icon">
										<i class="material-icons">
											note_add
										</i>
										<span>وظیفه جدید</span>
									</a>
									<a href="/" class="btn btn-outline-primary btn-icon">
										<i class="material-icons">
											list
										</i>
										<span>لیست وظایف</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="card">
							<div class="card-header">
								ایجاد وظیفه جدید
							</div>
						   	<div class="card-body">
								<form method="POST" action="/tasks/add">
									<div class="form-group">
										<label for="task_title">عنوان</label>
										<input type="text" class="form-control" name="task_title" id="task_title" placeholder="عنوان وظیفه" />
									</div>
									<div class="form-group">
										<label for="task_category">دسته بندی</label>
										<select class="form-control" name="task_category" id="task_category">
											<option value="مالی">مالی</option>
											<option value="مدیریت">مدیریت</option>
											<option value="حسابداری">حسابداری</option>
										</select>
									</div>
									<div class="form-group">
										<label for="task_assignee">انجام دهنده</label>
										<input type="text" class="form-control" name="task_assignee" id="task_assignee" placeholder="انجام دهنده وظیفه" />
									</div>
									<button type="submit" class="btn btn-success">ذخیره اطلاعات</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</body>
</html>
