<tr>
	<td><%=task.task_title%></td>
	<td><%=task.task_category%></td>
	<td><%=task.task_assignee%></td>

	<td>
		<% if (task.task_status===0) { %>
		<span class="badge badge-primary">ایجاد شده</span>
		<% } %> <% if (task.task_status===1) { %>
		<span class="badge badge-secondary">در حال انجام</span>
		<% } %> <% if (task.task_status===2) { %>
		<span class="badge badge-info">انجام شده</span>
		<% } %> <% if (task.task_status===3) { %>
		<span class="badge badge-danger">لغو شده</span>
		<% } %>
	</td>
	<td>
		<a href="">
			<i class="material-icons">
				edit
			</i>
		</a>
		<a href="tasks/delete/<%= task.task_id %> ">
			<i class="material-icons">
				delete
			</i>
		</a>
	</td>
</tr>
