
<link rel="stylesheet" type="text/css" href="/assets/css/auth.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/util.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<body>
		<div class="limiter">
			<div class="container-login100" style="background-image: url('/assets/images/6771.jpg');">
				<div class="wrap-login100 p-t-30 p-b-50">
					<span class="login100-form-title-forgotPass p-b-41 ">Enter your Email or Username</span>
					<%- include('../partials/messages') %>
					<form class="login100-form validate-form " action="/auth/forgetpassword" method="POST">
						<div class="wrap-input100 validate-input" data-validate="Enter email or username">
							<input type="email" class="input100" name="email" id="email" placeholder="email / username" value="<%= typeof email!='undefined' ?email:'' %>" />
							<span class="focus-input100" data-placeholder="&#xe818;"></span>
						</div>
						<div class="container-login100-form-btn m-t-32 login-customize">
							<button type="submit" class="login100-form-btn">Send</button>
						</div>
					</form>
					<div class="container-login100-form-btn ">
						<span  class="login100-form">
							
							<a href="/auth/login" >
								<i class="fa fa-arrow-left" style="color: #d41872;"></i>
								Back to Login</a>
						</span>
					</div>
				</div>
			
			</div>
		</div>
		<div id="dropDownSelect1"></div>
		<script src="/assets/js/jquery-3.2.1.min.js"></script>
		<script src="/assets/js/auth.js"></script>
	</body>
</html>
